.shipinfo-popup{
font-family:'Rajdhani', sans-serif;
font-size:16px;
font-weight:500;
width:772px;
height:546px;
background-repeat:no-repeat;
box-shadow:0 0 20px 2px rgba(0,0,0,0.6);
color:rgb(161,161,161);
}

.shipinfo-header{
height:41px;
overflow:hidden;
line-height:41px;
color:#fff;
}

.shipinfo-shipname{
font-weight:600;
font-size:22px;
margin-left:11px;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);	
}

.shipinfo-race-group{
font-style:italic;
color:rgb(108,108,108);
margin-right:10px;
}

.shipinfo-content-wrapper{
margin-left:11px;
}

.shipinfo-nav-wrapper{
text-align:center;
}

.shipinfo-nav{
margin-left:auto;
margin-right:auto;
}

.shipinfo-nav-item{
height:45px;
line-height:45px;
padding:0 12px;
cursor:pointer;
margin:0 4px;
text-transform:uppercase;
font-size:14px;
color:#c5c5c5;
}

.shipinfo-nav-item:hover{
background-repeat:repeat-x;
}

.shipinfo-nav-item.shipinfo-active{
background-repeat:repeat-x;
border-left:solid 1px #101010;
border-right:solid 1px #101010;
margin:0 3px;
}

.shipinfo-dismiss{
margin-top:14px;
margin-right:11px;
width:16px;
height:16px;
line-height:16px;
text-align:center;
background-repeat:no-repeat;
cursor:pointer;
}

.shipinfo-dismiss:hover{
color:#fff;
}

/** ---------------------------------------------------
 *  FITTING INFO BOXES
 *  --------------------------------------------------- */

.shipinfo-fittingbox{
position:relative;
margin:6px 0 28px 0;
box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
padding:6px;
background-color:rgb(22,22,22);
background-repeat:no-repeat;
color:rgb(255,255,255);
font-family:'Rajdhani', sans-serif;
}

.shipinfo-fittingbox A:link,
.shipinfo-fittingbox A:visited{
color:rgb(255,255,255);
}

.shipinfo-fittingbox A:active,
.shipinfo-fittingbox A:hover{
color:rgb(255,255,255);
}

.shipinfo-fittingbox-header{
line-height:20px;
margin-bottom:6px;
padding:4px 0;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 1)
}

.shipinfo-fittingbox-content{
padding:13px;
font-family:monospace;
box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.6);
background:rgb(32,32,32);
border:solid 1px rgb(71,71,71);
}

.shipinfo-fittingbox-fitname{
font-size:22px;
font-weight:600;
}

.shipinfo-fittingbox-shipname{
float:right;
font-style:italic;
margin-right:4px;
font-size:16px;
}